/* 1. Registrar a fonte */
@font-face {
    font-family: 'Uber';
    src: url('/src/fontes/UberMoveMedium.otf') format('opentype');
    font-display: swap; /* melhora carregamento no Safari */
}

@media (max-width: 767px) {

    #marca {
        width: 350px;
    }

    .conjunto {
        /* Foi utilizado o sistema de grid */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        
    }

    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 10px;
    }

    label {
        font-size: 14px;
    }

    .box img {
        width: 32px;
    }

    h2 {
        margin-bottom: -30px;
    }

}

@media (min-width: 768px) {
    #marca {
        width: 500px;
    }

    .conjunto {
        /* Foi utilizado o sistema de grid */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .box {
        display: block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 120px;
        padding: 20px;
    }

    label {
        font-size: 13px;
    }

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes fadeInSlide {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-pagina {
    animation: fadeInSlide 1.5s ease-out forwards;
}

body {
    font-family: 'Uber', Arial, sans-serif;
    /* background-image: linear-gradient(230deg, #FDA69B, #FAFAFC); */
    background-image: url(../imagem/care.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 100vh;
}

.header {
    height: 40px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
}

.perfil {    
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.nivel-perfil {
    /* color: #CB2B16; */
    font-weight: bold;
    margin-right: 10px;
    opacity: 0.6;
}

.icone-perfil {
    width: 35px; 
    height: 35px;
    background-color: #FFCC00;
    color: #FAFAFC; 
    border-radius: 50%; 
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: rgba(250, 250, 250, 0.6);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 0px 0px 16px 16px;
    max-width: 700px;
    max-height: max-content;
}

.logomarca {
    margin-top: 20px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    width: 100%;
    margin-top: 30px;
    padding-top: 4px;

}

h2 {
    font-weight: normal;
    font-size: 1.2rem;
    text-align: center;
    padding: 20px;
    opacity: 0.6;

}

.conjunto {
    margin-top: 80px;
    margin-inline: 60px;
    margin-bottom: 60px;
    
}

.box {
    background-color: #FA2408;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.box:hover {
    background-color: #CB2B16;
    transform: scale(1.2);
}

.conjunto img {
    max-width: 50px;
}

p {
    color: #CB2B16;
    font-weight: normal;
    position: relative;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    z-index: auto;
}

label {
    color: white;
    margin-top: 10px;
}

a {
    text-decoration: none;
}

.btsaida {
    width: 32px;
    height: 40px;
    cursor: pointer;
    opacity: 0.6;
}

.final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

h5 {
    font-weight: normal;
    font-size: 12pt;
    color: #CB2B16;
}